{% load static %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="{% static 'img/logo.jpg' %} "   alt="" width="64" height="64">
            <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
        </div>
        <div class="col-6 col-md">
            <h5>Contacto</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Recursos</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'descargas' %}">Descargas</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Quienes Somos</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="{% url 'about' %}">Quiénes somos</a></li>
            </ul>
        </div>
    </div>
</footer>