

{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}
<div class="pricing-header p-3 pb-md-4 mx-auto">

  
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Quienes Somos</h1>
        <p class="col-md-8 fs-4">MI BELLA CIUDAD es una fundación sin fines de lucro..</p>
        <hr>
        <h4 class="display-5 fw-bold">Cómo comenzamos</h4>
        
        <p> Comenzó el año ........................................
        </p>
        <hr>
        <h4 class="display-5 fw-bold">Información de integrantes</h4>
        <p>Presidenta Marta Acosta</p>
        <p>Lugar: Dir. Joaquin V Gonzalez 760</p>
      </div>
    </div>

    


</div>



  {% endblock contenido %}

