

{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Contacto</h1>
      <hr>
      <h4 class="display-5 fw-bold">Información de integrantes</h4>
      <p>Presidenta Marta Acosta</p>
      <p>Lugar: Dir. Joaquin V Gonzalez 760</p>
      <p>Bararnqueras - Chaco</p>
      <p>Información de contacto: 3624-648735</p>
      <p>redes sociales: 
      </p>
      <a type="button" class="btn btn-outline-primary" href="https://www.facebook.com/CentroDeGestionyParticipacionCiudadana" target="_blank">Facebook</a>
    </div>
  </div>


    
    
    
    

</div>



  {% endblock contenido %}

