

{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">

    <h1 class="display-4 fw-normal">Contacto</h1>
    Nombre completo : Fundación Mi Bella Ciudad

    Información de integrantes: Presidenta Marta Acosta
    
    Lugar: Dir. Joaquin V Gonzalez 760
    
    Información de contacto: 3624-648735
    
    Redes sociales: 
    https://www.facebook.com/CentroDeGestionyParticipacionCiudadana
    

</div>



  {% endblock contenido %}

