

{% extends 'base/base.html' %}

{% load static %}

{% block contenido %}
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">

      <h1 class="display-4 fw-normal">Noticias</h1>
      {% include 'includes/paginado.html' %}
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <form class="d-flex" role="search" method="get">
            <input class="form-select" aria-label="Fecha" type="date" name="fecha">
            <select class="form-select" aria-label="Seleccion Categoria" name="categoria" >
              <option value="0">Todas</option>
              {% for c in listacategorias.all %}
                  
                <option value="{{c.id}}">{{ c }}</option>

              
              
              {% endfor %}

            </select>
              <input class="form-control me-2" type="search" placeholder="Titulo a Buscar" aria-label="Search" name="buscador">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
              <a href="{% url 'noticias:admin_nueva_noticia' %}" class="btn btn-outline-secondary">Nueva</a>
          </form>


      </nav>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 " >
      {% for p in noticias %}

      <div class="col">
        <div class="card mb-3" style="max-width: 540px;">

        
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{% static 'img/logo.jpg' %}" 
                  class="card-img" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                
                <h5 class="card-title"> {{ p.titulo}}</h5>

                <p class="card-text">{{ p.bajada}}</p>
                <p class="card-text"><small class="text-muted">{{ p.cuerpo}}</small></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{% url 'noticias:leer' p.id %}" class="btn btn-sm btn-outline-secondary">Leer mas</a>
                    
                    {% if user.is_authenticated %}
                      {% if p.usuario.es_admin and p.usuario == user %}
                    
                        <a href="{% url 'noticias:editar' p.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                      {% endif %}
                    {% endif %}
                      
                     
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row g-0">
            {% if p.categoria %}
              <div class="col-12 text-center">
                <a href= "?categoria={{ p.categoria.id }}"  class="btn btn-sm btn-outline-secondary">{{ p.categoria }}</a>
              </div>
            {% endif %}
            
            <div class="alert alert-primary" role="alert">
              
              <div class="d-flex justify-content-evenly">
                
                <div class="p-2"> {{ p.usuario }}</div>
                <div class="p-2">{{ p.fecha|date:"l d/m/Y H:s" }}</div>
              </div>
            </div>

            
          </div>
        </div>
      </div>




        {% empty %}
        <div class="row">
          <div class="col">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">No hay novedades Cargadas</h4>
              <p>Todavia no se registraron noticias .</p>
              <hr>
              <p class="mb-0">Por favor ingresa mas adelante.</p>
            </div>
          </div>
        </div>

        <!--  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card text-bg-white">
            <img
              src="https://scontent.fgpo1-1.fna.fbcdn.net/v/t39.30808-6/301151174_417222100502787_3337458140598951837_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE9VJTs71J6PBqDwvXqQo9GBhAX8SHiklIGEBfxIeKSUgYOOSWx0wp_NZHNHhX3RIA&_nc_ohc=AXjd3c1Hh14AX8Z-yuO&_nc_ht=scontent.fgpo1-1.fna&oh=00_AfAbj3uLTW7ivE8GYMuKbOj1p9FGC_NXoI3YHx_1qzW7Yg&oe=63984C6E"
              class="card-img" alt="...">

            <div class="card-img-overlay">
              <h5 class="card-title">Modelo 2</h5>
              <p class="card-text">Imagen en el fondo This is a wider card with supporting text below as a
                natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
            </div>
          </div>

        </div>
      </div> -->
      {% endfor %}

  </div>



  {% endblock contenido %}

