{% extends 'base/base.html' %}

{% block contenido %}
<div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Agreando Noticias</h1>
</div>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="d-flex justify-content-evenly p-2">
            <button class="btn btn-sm btn-outline-secondary" type="submit" name="btn_ingresar">Publicar-Guardar</button>
            <a href="{% url 'noticias:admin_listado_noticias' %}" class="btn btn-sm btn-outline-secondary">Cancelar</a>
        </div>
        
        <hr>

        {{form.as_p}}
    
        

    </form>
    <div class="text-center pt-1 mb-5 pb-1">
        {% include 'includes/errores_form.html' %}
      </div>
{% endblock contenido %}

